@* @model ThaiYVien.Data.Dto.RegisterDto

@using (Html.BeginForm("Create", "Account", FormMethod.Post, new { @id = "registerForm" }))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(m => m.Username)
        @Html.TextBoxFor(m => m.Username, new { @class = "form-control", placeholder = "Tên tài khoản" })
        @Html.ValidationMessageFor(m => m.Username)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
        @Html.ValidationMessageFor(m => m.Email)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Mật khẩu" })
        @Html.ValidationMessageFor(m => m.Password)
    </div>
    <button type="submit" class="btn btn-success" style="background-color:#95131f;color:white">Đăng ký</button>
} *@
@model ThaiYVien.Data.Dto.RegisterDto

<form asp-action="Create" asp-controller="Account" method="post" id="registerForm">
    <div class="form-group">
        <label asp-for="Username"></label>
        <input asp-for="Username" class="form-control" placeholder="Tên tài khoản" />
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" placeholder="Email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" placeholder="Mật khẩu" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-success" style="background-color:#95131f; color:white">Đăng ký</button>
</form>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

