﻿

@model IEnumerable<ThaiYVien.Areas.Admin.Dto.User.UserResponseDto>

<div class="page-content">
	<!--breadcrumb-->
	<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
		<div class="breadcrumb-title pe-3">Thái Y Viện</div>
		<div class="ps-3">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb mb-0 p-0">
					<li class="breadcrumb-item">
						<a href="javascript:;"><i class="bx bx-home-alt"></i></a>
					</li>
					<li class="breadcrumb-item active" aria-current="page">Quản lý khách hàng</li>
				</ol>
			</nav>
		</div>
		<div class="ms-auto">
			<div class="btn-group">
				<button type="button" class="btn btn-primary">Settings</button>
				<button type="button" class="btn btn-primary split-bg-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown">
					<span class="visually-hidden">Toggle Dropdown</span>
				</button>
				<div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-end">
					<a class="dropdown-item" href="javascript:;">Action</a>
					<a class="dropdown-item" href="javascript:;">Another action</a>
					<a class="dropdown-item" href="javascript:;">Something else here</a>
					<div class="dropdown-divider"></div>	<a class="dropdown-item" href="javascript:;">Separated link</a>
				</div>
			</div>
		</div>
	</div>
	<!--end breadcrumb-->

	<div class="card">
		<div class="card-body">
			<div class="d-lg-flex align-items-center mb-4 gap-3">
				<div class="position-relative">
					<input type="text" class="form-control ps-5 radius-30" placeholder="Search Order"> <span class="position-absolute top-50 product-show translate-middle-y"><i class="bx bx-search"></i></span>
				</div>
				<div class="ms-auto"><a asp-action="Create" asp-controller="User" class="btn btn-primary radius-30 mt-2 mt-lg-0"><i class="bx bxs-plus-square"></i>Thêm tài khoản mới</a></div>
			</div>
			<div class="table-responsive">
				<table class="table mb-0">
					<thead class="table-light">
						<tr>
							<th >Mã Tài khoản</th>
							<th>Tên tài khoản</th>
							<th >Số điện thoại</th>
							<th >Email</th>
							<th >Quyền</th>
							<th >Xem chi tiết</th>
							<th >Hành động</th>
						</tr>
					</thead>
					<tbody>
						@foreach ( var userWithRoleDto in Model)
						{
							<tr>
								<td>
									<div class="d-flex align-items-center">
										<div>
											<input class="form-check-input me-3" type="checkbox" value="" aria-label="...">
										</div>
										<div class="ms-2">
											<h6 class="mb-0 font-14">#@userWithRoleDto.Id</h6>
										</div>
									</div>
								</td>
								<td class="text-center align-middle">@userWithRoleDto.UserName</td>
								<td class="text-center align-middle">@(userWithRoleDto.PhoneNumber ?? "Đang cập nhật")</td>

								<td>@userWithRoleDto.Email</td>
								<td class="text-center align-middle">@userWithRoleDto.RoleName</td>
								<td class="text-center align-middle"><a asp-action="Detail" asp-controller="User" asp-route-id="@userWithRoleDto.Id" type="button" class="btn btn-primary btn-sm radius-30 px-4">Xem chi tiết</a></td>
								<td class="text-center align-middle">
									<div class="d-flex order-actions">
										<a asp-action="Edit" asp-controller="User" asp-route-id="@userWithRoleDto.Id" class=""><i class='bx bxs-edit'></i></a>
										<a asp-action="Delete" asp-controller="User" asp-route-id="@userWithRoleDto.Id" class="ms-3"><i class='bx bxs-trash'></i></a>
									</div>
								</td>
							</tr>
						}


					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>