
@model ThaiYVien.Data.Dto.Appointment.HistoryAppoitmentDto

<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            <h5>Thông tin cá nhân</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                  @*   <p><strong>Họ tên:</strong> @Model.User.FullName</p>
                    <p><strong>Số điện thoại:</strong> @Model.User.PhoneNumber</p>
                    <p><strong>Email:</strong>@Model.User.Email</p> *@
                </div>
                <div class="col-md-6">
                    <p><strong>Loại khách hàng:</strong> Bệnh nhân</p>
                
                </div>
            </div>
        </div>
    </div>

    <ul class="nav nav-tabs mt-3">
        <li class="nav-item">
            <a class="nav-link active" href="#">Lịch sử lịch hẹn</a>
        </li>
       @*  <li class="nav-item">
            <a class="nav-link" href="#">Công nợ</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Liên hệ</a>
        </li> *@
    </ul>

    <div class="table-responsive mt-3">
        <table class="table table-bordered">
            <thead class="table-light">
                <tr>
                    <th>Mã lịch hẹn</th>
                    <th>Thời gian lịch hẹn</th>
                    <th>Tên Dịch vụ</th>
                    <th>Gía dịch vụ</th>
                    <th>Thanh toán</th>
                    <th>Trạng thái</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Appointments)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.SlotDate.ToString("dd/MM/yyyy") @item.SlotTime</td>
                        <td>@string.Format(new System.Globalization.CultureInfo("vi-VN"), "{0:N0} đ", item.Amount) đ</td>


                        <td>@item.ServiceName</td>
                        <td>

                            @if (item.Payment == true)
                            {
                                <span>Đã thanh toán</span>
                            }
                            else{
                                <span>Chưa thanh toán</span>
                                
                                }
                            </td>
                        <td >

                            @if(item.IsCompleted==true){
                                <span class="text-success">Đã thành công</span>
                            }
                            else
                            {
                                <span class="text-danger">Đang xử lý</span>
                                
                            }
                        </td>
                        <td>
                            @if (item.Cancelled == false)
                            {
                                <a asp-action="CancelAppointment" asp-controller="Appointment" asp-route-Id="@item.Id" class="btn btn-danger btn-sm">Hủy</a>
                            }
                            else
                            {
                                <span class="text-warning">Hủy lịch hẹn thành công</span>
                            }
                        </td>
                    </tr>
                }
                
            </tbody>
        </table>
    </div>
</div>